<p>game id {{gameId}}</p>
<p>Team turn: {{teamTurn | async}}</p>
<p>Turn phase: {{turnPhase | async}}</p>
<p>Guesses remaining: {{guessesRemaining | async}}</p>
<div *ngIf="(isCodeMaster | async); else becomeCodemaster">
    <button (click)="becomePlayer()">Become player</button>
    <form [formGroup]="clueForm" (ngSubmit)="onSubmit()">
    
        <div>
            <label for="word">
              Word
            </label>
            <input id="word" type="text" formControlName="word">
          </div>
        
          <div>
            <label for="number">
              Number
            </label>
            <input id="number" type="number" formControlName="number">
          </div>
    
        <button class="button" type="submit" [disabled]="(canNotGiveClues | async)">Submit Clue</button>
      
      </form>
</div>

<ol>
    <li *ngFor="let clue of (clues | async)">
        {{clue.word}}: {{clue.number}}
    </li>
</ol>


<ng-template #becomeCodemaster>
    <button (click)="becomeCodeMaster()">Become codemaster</button>
</ng-template>



<board  *ngIf="(cards | async) as cards" 
  [cards]="cards" 
  [clickingEnabled]="canClickCards | async"
  (cardClicked)="flipCard($event, cards)">
</board>

