<div style="background-image: 'url(../assets/double-bubble-outline.png)'; height: 100%">
	<ng-container *ngIf="(user | async) as user">
		<div style="padding: 20px">
			<button mat-raised-button color="primary" (click)="createNewGame(user)" 
			  style="margin-left: 20px">
				Create new game
			</button>
			<mat-list role="list" *ngIf="(gameList | async) as gameList">
				<mat-list-item *ngFor="let game of (gameIds | async)">
					<div>
						<a routerLink="/games/{{game}}" routerLinkActive="active">
							{{game}} - {{gameList[game].gameState}}
						</a>
					</div>
			    </mat-list-item>
			</mat-list>
		</div>
	</ng-container>
</div>
